# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vscode/settings.json
.vscode/tasks.json

LabWork03/demo06.c
LabWork03/demo02
LabWork03/demo02.c
LabWork03/demo03
LabWork03/demo03.c
LabWork03/demo04
LabWork03/demo04.c
LabWork03/demo05.c
LabWork03/demo06
LabWork03/demo01
LabWork03/file.dat
LabWork03/demo01-AddDemo.c

LabWork02/demo01
LabWork04/demo02
LabWork04/demo03
LabWork04/demo03.c

file.dat
LabWork06/Demo01
LabWork06/Demo02
LabWork06/Demo02.c
LabWork05/demo01
LabWork07/Demo03.c
LabWork07/Demo03
LabWork07/Demo02.c
LabWork07/Demo02
LabWork07/Demo01
LabWork08/Demo02.c
LabWork08/Demo03.c
LabWork08/Demo04.c
LabWork08/Demo01
LabWork08/Demo04
LabWork08/Demo02
LabWork07/LDemo01
LabWork07/LDemo02
LabWork07/LDemo03
LabWork08/d1
LabWork08/d2
LabWork09/d1
LabWork09/d2
LabWork10/d1
LabWork10/d2
LabWork07/LDemo3
LabWork07/LDemo3.c
LabWork09/Demo01.c
LabWork09/Demo02.c
LabWork10/Demo01.c
LabWork10/Demo02.c
LabWork10/LDemo02
LDemo01
LD2
LabWork02/demo1.txt
LabWork01/main_file
LabWork02/demo01.c
LabWork10/LDemo02.c
falename
hello
